body {
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar {
    background-color: #D33A2C;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

nav {
    background-color: #D33A2C;

}

.btn {
    background-color: #D33A2C;
    /* padding:5px; */
    /* margin: 5px; */
    width: 80px;
    height: 50px;
    margin-top: 45px;
    color: white;
    font-size: 20px;
    border-radius: 12px;

}

.btn:hover {
    background-color: #94291F;
}

#navItems {
    margin-top: 60px;
    color: white;
    text-decoration: none;
    font-size: 20px;

}

/* .tbl1 {
    background:#FFFFFF
     url(images/icons8-search-50.png)
    no-repeat 4px 4px;
    
    height:10px;
} */
#searchBox {
    width: 250px;
    /* padding:10px; */
    margin-top: 45px;
    border-radius: 12px;
    height: 40px;
    font-size: 22px;

}

.search {
    position: relative;
}


.inputleft {
    padding-left: 35px;
    height: 2em;
    width: 15em;
    /* border: 2px solid #acacac; */
    border-radius: 0.7em;
    font-size: 1.2em;
    margin-top: 45px;

}

.fa-magnifying-glass {
    position: relative;
    font-size: 1.3em;
    z-index: 1;
    left: 50px;
    top: 1px;
    color: #D33A2C;
    cursor: pointer;
    width: 0;
    margin-top: 55px;

}

.secondNav {
    /* background-color: #FDFDFD; */
    background-color: white;
    display: flex;
    justify-content: space-around;
    /* box-shadow:  #F0F0F0; */
    box-shadow: 0 4px 8px 0 #F0F0F0;
    ;
    overflow-x: scroll;


}

/* .btns{
    
    
 

} */
#btnsId {
    color: #D33A2C;
    background-color: #ffe3e3;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 13px;
    font-weight: 500;
    border: none;
    /* width: 100%; */
    white-space: nowrap;

}

#btnsId:hover {
    border: 1px solid #D33A2C;
    cursor: pointer;

}


#btnsId:active {
    background-color: #D33A2C;
    color: white;
    /* border-style: dashed; */
    outline: 2px dashed #D33A2C;
    outline-offset: 2px;

}

#jumpbtn {
    color: #D33A2C;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 13px;
    font-weight: 500;
    /* width: 180px; */
    border: 1px solid black;
    white-space: nowrap;


}

footer {
    background-color: #D33A2C;
    /* position: relative; */
    /* text-align: center; */
    /* height:auto; */
    width: 100%;
    /* margin-top: 70px; */
    color: white;
    /* margin-bottom: 200px; */
    padding: auto;
    /* overflow: scroll; */
}

/* .list{
    display: flex;
   
    flex-wrap: wrap;
    flex-direction: row;
  
    margin-bottom: 5%;


} */
h5 {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 80px;
}

.centering {
    text-align: center;
}

/* .contact{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align: center;
} */
/* .lastLine{
    display: flex;
    flex-direction: row;
} */
/* #Lline{
   
    text-align: center;
} */


ul {
    list-style: none;
    font-size: 20px;
}

li::before {
    content: "•";
    color: #811D15;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.list1 {
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;


}

/* .list1:hover {
    color: #53120E;
} */

.list2 {
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
}

/* .list2:hover {
    color: #53120E;
} */

.list3 {
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

/* .list3:hover {
    color: #53120E;
} */

.list4 {
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    justify-content: space-between;
    width: 65%;
    margin: auto;
    margin-bottom: 90px;
}

/* .list4:hover {
    color: #53120E;
} */

.contact {
    margin-bottom: 30px;
}

.lastLine {
    padding-bottom: 30px;
}

.person1 {
    border: 6px solid #D33A2C;
    border-radius: 10px;
    width: 130px;
    height: 130px;
    transform: rotate(-0.05turn);
    box-shadow: 0px 10px 15px grey;
    /* box-shadow: 10px 5px 5px black;; */
    /* padding-bottom: 20px; */
}

.visual {
    /* margin-top: 30px; */
    font-size: 17px;
    width: 82%;
    margin-bottom: 40px;
}

.person1:active {
    outline: 2px dashed #D33A2C;
    outline-offset: 10px;
}

.person1:hover {
    cursor: pointer;
    transform: rotate(0);
    transition: .4s;
}

.row1 {
    display: flex;
    flex-direction: row;
}

.topParagraph {
    /* padding-top: 20px; */
    margin-bottom: 50px;
    /* display: flex; */
    /* flex-direction: row; */
}

.person2 {
    border: 6px solid #D33A2C;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    transform: rotate(-0.03turn);
    box-shadow: 0px 10px 15px grey;
}

.person2:active {
    outline: 2px dashed #D33A2C;
    outline-offset: 10px;
}

.person3 {
    border: 6px solid #D33A2C;
    border-radius: 10px;
    width: 100px;
    height: 90px;
    transform: rotate(-0.03turn);
    box-shadow: 0px 10px 15px grey;
}

.person3:active {
    outline: 2px dashed #D33A2C;
    outline-offset: 10px;
}

.floatHeading {
    /* float: right; */
    width: 50%;
    margin-left: 80px;
    /* margin-bottom: 50px; */
    /* margin-left: 1; */


}

.visual {
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
}

.column1 {
    width: 900px;
    display: flex;
    flex-direction: column;
}

.column2 {
    background-color: #F1FDF8;
    height: 800px;
    width: 390px;
    position: relative;

}

.monkey {
    width: 350px;
    height: 250px;


}

.monkeyImage {
    position: absolute;
    bottom: 80%;
}

.portion2 {
    display: flex;
    flex-direction: column;
}

.part1Body {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 5%
}

.paragraph2 {
    /* float:left; */
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.paragraph3 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.floatHeading2 {
    /* float: right;
    width: 50%; */
    margin-left: 50px;

}

.floatHeading3 {
    /* float: right;
    width: 50%; */
    margin-left: 50px;
}

.btnMonkey {
    background-color: white;
    color: #D33A2C;
    width: 75%;
    border-radius: 10px;
    /* display: inline-block;
    text-align: center; */
    font-weight: 800;
    font-size: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 40%;
}

.centerMonkey {
    text-align: center;
}

.btnGreen {
    padding: 15px;
    background-color: #18A46F;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.pSmall {
    font-size: 15px;
    font-style: italic;
    color: #9B9B9B;
}

.centerH3 {
    /* text-align: center; */
    /* padding-left: 50px; */
    /* padding-right: ; */
    font-size: 25px;
    font-weight: 500;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.card1 {
    background-color: #F1FDF8;

}

.card1:hover{
box-shadow: 0 1px 7px -5px rgba(50,50,93,.25),0 3px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,3%);
transition: box-shadow .2s ease-in-out;
}
.card2 {
    background-color: #FEF1F0;
}
.card2:hover{
    box-shadow: 0 1px 7px -5px rgba(50,50,93,.25),0 3px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,3%);
    transition: box-shadow .2s ease-in-out;
    }
.card3 {
    background-color: #FBECF9;
}
.card3:hover{
    box-shadow: 0 1px 7px -5px rgba(50,50,93,.25),0 3px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,3%);
    transition: box-shadow .2s ease-in-out;
    }
.threeCards {
    width: 350px;
    height: 450px;
    border-radius: 15px;
    margin: 15px;
    padding: 15px
}

.ThreeButtons {
    color: white;
    font-weight: 700;
    font-size: 24.5807px;
    padding: 18.4355px 24.5807px;
    border-radius: 15px;
    font-style: normal;
    /* font-family: ; */
    margin: 32px 0px 0px;
    text-decoration: rgb(255, 255, 255);
    text-align: center;

}

.btn1 {
    background-color: #18A46F;
}

.btn2 {
    background-color: #F55700;
    /* text-align: center; */
    margin: 20px;
}

.btn3 {
    background-color: #AA1994;
}

.seeAllGuides {
    /* text-decoration: rgb(211, 58, 44); */
    text-decoration: underline;
    /* border-bottom-width: 1px;
    padding-bottom: 3px; */
    text-underline-offset: 5px;
    text-align: center;
    text-decoration-color: #D33A2C;

    text-decoration-thickness: 3px;
    color: RGB(0, 0, 0);
    font-size: 15.5605px;
    letter-spacing: 1px;

    font-weight: 400;
    font-style: normal;
    font-variant: petite-caps;


}

.seeAllGuides:hover {
    color: #D85246;
    /* color:green;
    border:solid 1px; */
}

.sideP {
    font-size: 14.5232px;
    font-weight: 700;
    font-style: normal;
    text-decoration: rgb(0, 0, 0);
    padding: 0px 8.71389px;
    writing-mode: vertical-rl;
    /* text-decoration: underline;
    text-underline-position: under left; */



}

/* .guidesCards{
   
    
} */
.Guide1 {
    display: grid;
    grid-template-columns: 45% 45%;
    /* width:900px; */
    /* padding: 2%; */
    margin-right: 5%;
    margin-left: 15%;
}

.gCard1 {
    margin-right: 5%;
    margin-left: 5%;
}

.gCard2 {
    /* padding-left: 10%; */
    /* margin-right: 20%; */
    margin-left: 20%;
}

.Guide2 {
    display: grid;
    grid-template-columns: 40% 40%;
    /* width:900px; */
    /* padding: 2%; */
    margin-right: 5%;
    margin-left: 15%;
}


.gCard3 {
    margin-right: 5%;
    margin-left: 5%;

}

.gCard4 {
    /* margin-left: 0%; */

}

.Guide3 {
    display: grid;
    grid-template-columns: 45% 40%;
    /* width:900px; */
    /* padding: 2%; */
    margin-right: 5%;
    margin-left: 15%;
}

.Guide4 {
    display: grid;
    grid-template-columns: 45% 40%;
    /* width:900px; */
    /* padding: 2%; */
    margin-right: 5%;
    margin-left: 15%;
}

.gCard5 {
    margin-right: 5%;
    margin-left: 5%;

}

.gCard6 {
    /* margin-right: 1%; */
    margin-left: 20%;
}

.gCard7 {
    margin-right: 5%;
    margin-left: 5%;

}

.gCard8 {
    /* margin-right: 1%; */
    margin-left: 20%;
}

.seeGinfo {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
    text-decoration-color: #D33A2C;
    font-size: 15.5605px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    font-variant: petite-caps;



}

.seeGinfo:hover {
    color: #D33A2C;
}

.articlePerson1 {
    border: 6px solid #D33A2C;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    transform: rotate(-0.03turn);
    box-shadow: 0px 10px 15px grey;
    position: relative;
    right: 90px;
}

.contentP {
    /* margin-left: 50px; */
    position: relative;
    bottom: 55px;

}

.articlePerson2 {
    border: 6px solid #D33A2C;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    transform: rotate(-0.03turn);
    box-shadow: 0px 10px 15px grey;
    position: relative;
    right: 90px;
}

.contentP1 {
    /* margin-left: 50px; */
    position: relative;
    bottom: 55px;

}

.pguide {
    line-height: 23.8667px;
    color: RGB(51, 51, 51);
    font-weight: 400;
    font-stretch: 100%;
    font-feature-settings: "onum";
    font-size: 20.7474px;

}

.linkGuides {
    font-size: 20.206px;
    font-weight: 700;
    color: RGB(211, 58, 44);
    text-decoration: underline;
    /* text-underline-offset: 4px; */
    /* text-decoration-thickness: 3px; */
    text-decoration-color: #D33A2C;

}

.linkBottom {
    color: #666666;
    font-size: 18.6726px;
    line-height: 34.1833px;
    font-weight: 700;
    text-decoration: underline 1px rgb(102, 102, 102);

}

.bottomGuides {
    color: RGB(102, 102, 102);
    line-height: 34.1833px;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: rgb(102, 102, 102);

}

.familyH2 {
    font-size: 46.5667px;
    font-weight: 700;
    color: RGB(51, 51, 51);
    /* font-family: ; */
    text-align: center;
}

.familyH3 {
    font-size: 27.8333px;
    color: RGB(211, 58, 44);
    font-weight: 700;
    text-align: center;


}

.h2guides:hover {
    color: #D33A2C;
}

.bookMonkey {
    width: 300px;
    height: 200px;
}

.FirstP {
    font-size: 31.121px;
    color: RGB(51, 51, 51);
    font-weight: 700;
    font-family: serif;

}

.infoCards {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    overflow-x: scroll;
    width: 100%;
}

.infoCard1 {
    background-color: #F1FDF8;
    text-align: center;
    padding: 125px 31.121px 41.4947px;
    margin: 125px 31.121px 0px 0px;
    border-radius: 15px;
    /* position: relative; */
    width: 500px;

}

.infoCard2 {
    background-color: #E7F8FF;
    text-align: center;
    padding: 125px 31.121px 41.4947px;
    margin: 125px 31.121px 0px 0px;
    border-radius: 15px;
    /* position: relative; */
    width: 500px;


}

.infoCard3 {
    background-color: #FFE5E2;
    text-align: center;
    padding: 125px 31.121px 41.4947px;
    margin: 125px 31.121px 0px 0px;
    border-radius: 15px;
    /* position: relative; */
    width: 500px;


}

.infoCard4 {
    background-color: #E3F7E5;
    text-align: center;
    padding: 125px 31.121px 41.4947px;
    margin: 125px 31.121px 0px 0px;
    border-radius: 15px;
    /* position: relative; */
    width: 500px;
}

.infoCard5 {
    background-color: #FDFFE5;
    text-align: center;
    padding: 125px 31.121px 41.4947px;
    margin: 125px 31.121px 0px 0px;
    border-radius: 15px;
    /* position: relative; */
    width: 500px;

}

.infobtn1 {
    background-color: #18A46F;
    border: none;
    font-size: 23.8595px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    padding: 5%;
    border-radius: 10px;
    margin-top: 15px;

}

.infobtn2 {
    background-color: #006FC6;
    border: none;
    font-size: 23.8595px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    padding: 5%;
    border-radius: 10px;
    margin-top: 15px;



}

.infobtn3 {
    background-color: #E62143;
    border: none;
    font-size: 23.8595px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    padding: 5%;
    border-radius: 10px;
    margin-top: 15px;



}

.infobtn4 {
    background-color: #41B14F;
    border: none;
    font-size: 23.8595px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    padding: 5%;
    border-radius: 10px;


}

.infobtn5 {
    background-color: #FF6411;
    border: none;
    font-size: 23.8595px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    padding: 5%;
    border-radius: 10px;
    margin-top: 15px;

}

.infoItalic {
    font-weight: 400;
    line-height: 22.4px;
    color: RGB(102, 102, 102);
    font-style: italic;
    font-size: 16.5979px;

}

.infoP {
    color: RGB(0, 0, 0);
    margin: 28.414px 0px 0px;
    font-size: 20.7474px;
    font-weight: 400;
    margin: 28.414px 0px 0px
}

/* .infoMonkey{
    position: absolute;
    bottom: 80%;
  
} */
.footer1a {
    font-weight: 700;
    font-size: 55.6233px;
    font-family: sans-serif;
    color: RGB(255, 255, 255);
    /* width: 30px; */
    text-decoration: underline 5px #4399D9;
    text-align: center;


}

.footerp {
    color: #FFFFFF;
    font-size: 24.8968px;
    font-weight: 400;
    margin: 24.8968px auto 49.7937px;

}

.footer1 {
    background-color: #006FC6;
    text-align: center;
}

.atag {
    width: 58%;
    margin: auto;
}

.ptag {
    width: 70%;
    margin: auto;
}

.footerbtn {
    background-color: #FFFFFF;
    color: #267DCC;
    font-size: 24.5807px;
    font-weight: 700;
    padding: 18.4355px 24.5807px;
    font-family: sans-serif;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;

}

.monkeySea {
    width: 80%;
    height: auto;
    margin: auto;
    /* margin-bottom: -4em; */
}

.personWeek {
    display: flex;
    flex-direction: row;
}

.chiara {
    border: 6px solid #D33A2C;
    border-radius: 10px;
    width: 180px;
    height: 180px;
    transform: rotate(-0.05turn);
    box-shadow: 0px 10px 15px grey;
    margin-top: 50px;
    margin-left: 50px;
}

.personWeekBody {
    width: 70%;
    margin: auto;

}

.personWeekP {
    font-size: 20.7474px;
    color: RGB(51, 51, 51);
    font-weight: 400;
    line-height: 34.1833px;
}

.personWeekH {
    color: #666666;
    font-size: 18.6726px;
    font-weight: 400;
    line-height: 40.6px;
    text-transform: uppercase
}

.personCards1 {
    display: grid;
    grid-template-columns: 45% 45%;
    margin-top: 80px;
    margin-bottom: 80px;

}

.pCard1 {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
}

.pCard2 {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
}

.pCard2Deets {
    margin-left: 20px;
}

.pCardImages {
    border: 6px solid #D33A2C;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    transform: rotate(-0.03turn);
    box-shadow: 0px 10px 15px grey;
    /* position: relative; */
    /* right: 90px; */
}

.pCard1Deets {
    margin-left: 20px;
}

.pCardsA {
    color: #DB5D52;
    font-weight: 700;
    font-size: 20.206px;
    font-family: sans-serif;
    text-decoration: underline 1px rgb(211, 58, 44);

}

/* .pCardsA:hover{

} */
.cardPheader {
    color: black;
    font-size: 33.35px;
    font-weight: 700;
    /* line-height: 40.0167px; */
    text-decoration: none;
}

.cardPheader:hover {
    color: rgb(211, 58, 44);
}

.cardPMain {
    color: #333333;
    font-weight: 400;
    font-size: 20.7474px;

}

.time {
    font-size: 18.6726px;
    color: #666666;
    font-weight: 400;
    letter-spacing: 1px;

}

li:hover{
  color: #53120E;
}
