body {
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
    /* overflow: scroll; */
}

.navbar {
    background-color: #D33A2C;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

nav {
    background-color: #D33A2C;

}

.btn {
    background-color: #D33A2C;
    /* padding:5px; */
    /* margin: 5px; */
    width: 80px;
    height: 50px;
    margin-top: 45px;
    color: white;
    font-size: 20px;
    border-radius: 12px;

}

#navItems {
    margin-top: 60px;
    color: white;
    text-decoration: none;
    font-size: 20px;

}

/* .tbl1 {
    background:#FFFFFF
     url(images/icons8-search-50.png)
    no-repeat 4px 4px;
    
    height:10px;
} */
#searchBox {
    width: 250px;
    /* padding:10px; */
    margin-top: 45px;
    border-radius: 12px;
    height: 40px;
    font-size: 22px;

}

.search {
    position: relative;
}


.inputleft {
    padding-left: 35px;
    height: 2em;
    width: 15em;
    /* border: 2px solid #acacac; */
    border-radius: 0.7em;
    font-size: 1.2em;
    margin-top: 45px;

}

.fa-magnifying-glass {
    position: relative;
    font-size: 1.3em;
    z-index: 1;
    left: 50px;
    top: 1px;
    color: #D33A2C;
    cursor: pointer;
    width: 0;
    margin-top: 55px;

}

.secondNav {
    /* background-color: #FDFDFD; */
    background-color: white;
    display: flex;
    justify-content: space-around;
    /* box-shadow:  #F0F0F0; */
    box-shadow: 0 4px 8px 0  #F0F0F0;;
    overflow-x: scroll;
    

}

/* .btns{
    
    
 

} */
#btnsId {
    color: #D33A2C;
    background-color: #ffe3e3;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 13px;
    font-weight: 500;
    border:none;
    /* width: 100%; */
   white-space: nowrap;

}
#btnsId:hover{
    border: 1px solid #D33A2C;
    cursor: pointer;
   
}


#btnsId:active{
    background-color: #D33A2C;
    color: white;
    /* border-style: dashed; */
    outline: 2px dashed #D33A2C;
    outline-offset: 2px;

}

#jumpbtn {
    color: #D33A2C;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 13px;
    font-weight: 500;
    /* width: 180px; */
    border: 1px solid black;
    white-space: nowrap;
 

}
footer{
    background-color: #D33A2C;
    /* position: relative; */
    /* text-align: center; */
    /* height:auto; */
    width: 100%;
    /* margin-top: 70px; */
    color: white;
    /* margin-bottom: 200px; */
    padding: auto;
    /* overflow: scroll; */
}
/* .list{
    display: flex;
   
    flex-wrap: wrap;
    flex-direction: row;
  
    margin-bottom: 5%;


} */
h5{
    text-align: center;
    padding-top: 60px;
    margin-bottom: 80px;
}
.centering{
    text-align: center;
}
/* .contact{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align: center;
} */
/* .lastLine{
    display: flex;
    flex-direction: row;
} */
/* #Lline{
   
    text-align: center;
} */


ul {list-style: none;
font-size: 20px;
}

li::before {content: "•"; 
    color:#811D15;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
 }

.list1{
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    justify-content: space-between;
    width:80%;
    margin: auto;
    margin-bottom: 10px;


}
.list2{
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    justify-content: space-between;
    width:75%;
    margin: auto;
    margin-bottom: 10px;
}
.list3{
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    justify-content: space-between;
    width:80%;
    margin: auto;
    margin-bottom: 10px;
}
.list4{
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    justify-content: space-between;
    width:65%;
    margin: auto;
    margin-bottom: 90px;
}
.contact{
    margin-bottom: 30px;
}
.lastLine{
    padding-bottom: 30px;
}
.person1{
    border:6px solid #D33A2C;
    border-radius:10px;
    width: 130px;
    height:130px;
    transform: rotate(-0.05turn);
    box-shadow: 0px 10px 15px grey ;
    /* box-shadow: 10px 5px 5px black;; */
    /* padding-bottom: 20px; */
}
.visual{
    /* margin-top: 30px; */
    font-size: 17px;
    width:82%;
    margin-bottom: 40px;
}
.person1:active{
    outline:2px dashed #D33A2C ;
    outline-offset: 10px;
}
.person1:hover{
    cursor: pointer;
    transform: rotate(0);
    transition: .4s;
}
.row1{
    display: flex;
    flex-direction: row;
}

.topParagraph{
    /* padding-top: 20px; */
    margin-bottom: 50px; 
    /* display: flex; */
    /* flex-direction: row; */
}
.person2{
    border:6px solid #D33A2C;
    border-radius:10px;
    width: 100px;
    height:100px;
    transform: rotate(-0.03turn);
    box-shadow: 0px 10px 15px grey ;
}
.person2:active{
    outline:2px dashed #D33A2C ;
    outline-offset: 10px;
}
.person3{
    border:6px solid #D33A2C;
    border-radius:10px;
    width: 100px;
    height:90px;
    transform: rotate(-0.03turn);
    box-shadow: 0px 10px 15px grey ;
}
.person3:active{
    outline:2px dashed #D33A2C ;
    outline-offset: 10px;
}

.floatHeading{
    /* float: right; */
    width: 50%;
    margin-left:80px;
    /* margin-bottom: 50px; */
    /* margin-left: 1; */


}
.visual{
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
}
.column1{
    width: 900px;
    display: flex;
    flex-direction: column;
}
.monkey{
    width:350px;
    height:250px;
}
.portion2{
    display: flex;
    flex-direction: column;
}
.part1Body{
    display: grid;
    grid-template-columns: 70% 30%;
    padding:5%
}
.paragraph2{
    /* float:left; */
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.paragraph3{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.floatHeading2{
    /* float: right;
    width: 50%; */
    margin-left: 50px;
    
}
.floatHeading3{
    /* float: right;
    width: 50%; */
    margin-left: 50px;
}
.btnMonkey{
    background-color: white;
    color: #D33A2C;
    width: 55%;
    border-radius: 10px;
    /* display: inline-block;
    text-align: center; */
    font-weight: 800;
    font-size: 20px;
    padding:3%;
    margin-left: 20px;
}
.centerMonkey{
    text-align: center;
}